article {
    display: flex;
    flex-direction: column;
}

.container {
    background-color:peachpuff;
}

.question {
    display: none;
}

.btn-primary {
    font-size: 16px;
    color:#ff9300;
    background-color: #1f1f1f;
    border:#1f1f1f;
    border-radius: 20px;
}

.btn-primary, .btn-primary:visited, .btn-primary:hover, .btn-primary:active {
    font-size: 16px;
    color:#ff9300;
    background-color: #1f1f1f;
    border:#1f1f1f;
}
.btn-primary:active, .btn-primary:focus {
    background-color: #ff9300 !important;
    border:#1f1f1f !important;
    font-size: 16px;
    color:#ffffff;
}

.btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:active, .btn-answer:focus {
    background-color: #1f1f1f;
    border:#1f1f1f;
    margin: 0 auto;
    font-size: 14px;
    color: #ffffff;
}
.btn-answer:hover {
    background-color: #ff9300 !important;
    border:#1f1f1f !important;
    margin: 0 auto;
    font-size: 14px;
    color: #ffffff;
}

.explain-box{
    background-color: #1f1f1f;
    color: #ff9300;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    margin : 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.progress-bar {
    background-color: #ff9300;
}
.progress {
    background-color: #525764;
}

.question{
    font-size: 16px;
}

.hoduname{
    background-color: #1f1f1f;
    color: #ff9300;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 500px;
    margin : 0 auto;
}

.result {
    display: none;
}

#img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}
.kakao_ad {
    width: 320px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
}

.banner-img {
    width: 300px;
}